/* Common Shared Styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

h4 {
    color: #272727;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    background: #E55473;
}

/* Header start here */
header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 50px 200px 0px 200px;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 700;
    width: 700px;
    height: 300px;
}

header p {
    width: 600px;
    height: 100px;
    text-align: left;
}

.head-image {
    width: 600px;
    height: 800px;
}

/* main start here */

/* featured part */
.featured {
    padding: 100px 200px 100px 200px;
    align-items: center;
    justify-content: center;
}
.feature-h {
    margin-bottom: 20px;
}
.feature-p {
    margin-bottom: 40px;
}
.img-feature {
    display: flex;
    gap: 30px;
    align-items: center;

}
.feature-para {
    margin: 30px 0px 120p 0px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
.img-f1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 400px;
    height: 500px;
    margin: 0px 0px 30px 0px;
}
.img-f2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 400px;
    height: 500px;
    margin: 0px 0px 30px 0px;
}
.img-f3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 400px;
    height: 500px;
    margin: 0px 0px 30px 0px;
}

/* Hot sales start here */
.hot-sales {
    display: flex;
    background: rgba(229, 84, 115, 0.05);
    padding: 50px 200px 50px 200px;
    align-items: center;
    justify-content: space-between;
}
.sales-text{
    justify-content: center;
}
.sales-h {
    margin-bottom: 20px;
    text-align: left;
}
.off {
    color: #E55473;
}
.sales-p {
    margin-bottom: 20px;
    width: 600px;
    height: 60px;
    text-align: left;
}
.button-sign {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    background: #E55473;
}
.sale-image {
    width: 300px;
    height: 400px;
}

/* instagram start here  */
.insta {
    padding: 50px 200px 50px 200px;
}
.insta-h {
    margin-bottom: 20px;
}
.insta-p {
    margin-bottom: 40px;
}
.insta-img {
    gap: 24px;
    width: 342px;
    height: 396px;
    display: flex;
}

/* My bonus marks section start here  */
.Bonus-marks-flower {
    background: rgba(229, 84, 115, 0.10);
    padding: 60px 200px;
}
video {
    width: 1440px;
}
.marks-h {
    margin-bottom: 20px;
}
.marks-p {
    margin-bottom: 20px;
}
/* latest deals start here  */
.latest-deals {
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 500px;
    padding: 120px 280px;
    margin: 120px 200px 0px 200px;
}
.deal-h {
    margin-bottom: 20px;
}
.deal-p {
    margin-bottom: 20px;
}
.button-mail {
    padding: 20px 20px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    margin-left: 60px;
}
/* footer start here */
footer {
    color: #FFF;
    background: #111010;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 150px 650px;
}
h3 {
    margin-bottom: 30px;
}
.flower {
    color: #E55473;
}

.foot-para {
    color: #FFF;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
}

.rights {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}